[submodule "personal/themes/PaperMod"]
	path = personal/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "personal/public"]
	path = personal/public
	url = https://github.com/tomas-bustamante-h/tomas-bustamante-h.github.io
	branch = main
[submodule "personal/themes/hugo-embed-pdf-shortcode"]
	path = personal/themes/hugo-embed-pdf-shortcode
	url = https://github.com/anvithks/hugo-embed-pdf-shortcode.git
